.nav {
  background-color: #052454;
  height: 10vh;
}

header {
  position: unset;
}

.input{
  border: none;
  outline: none;
  width: 100%;
  /*margin-bottom: 1rem;*/
  background-color: #ecf0f1;
  /*border: 1px solid #062772;*/
  font-family: sans-serif;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact-info {
  vertical-align: bottom;
  background: linear-gradient(to right, #44577F 0%, #2C929E 100%);
  border-radius: 15px;
  padding: 2rem 0;
  color: #fff;
}

.contact-info a {
  color: #fff;
}

/*   ##Device = Most of the Smartphones Mobiles (Portrait)  ##Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {
  .contact-info {
    height: 100%;
  }
}
