@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
html,
body {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  background: #062772 0% 0% no-repeat padding-box;
}

header .top-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #4763bc;
  border-radius: 0px 0px 25px 25px;
  left: 8%;
  top: 0px;
  height: fit-content;
  z-index: 10;
  max-width: 15vw;
}

header .top-logo img {
  min-height: 7vh; /* 10vh LOGO HEIGHT */
  width: 80%;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

header .navbar-nav {
  margin-left: auto;
}

header .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  width: 100%;
  padding-right: 4em;
  z-index: 2;
}

header .nav ul {
  margin-top: 1em;
}

header .nav li {
  padding: 1em;
  color: #fff;
}

header .nav-link:link,
header .nav-link:visited {
  text-decoration: none;
  color: #fff;
}

header .nav-link:hover {
  transform: translateY(-3px);
}
header #navbarSupportedContent1 {
  justify-content: flex-end;
}
header .dropdown {
  float: left;
}

header .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

header .dropdown-content a:hover {
  background-color: black;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .dropdown:hover {
  transform: translateY(-3px);
}
header .static {
  position: static;
}

header .cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header .navbar-toggler {
  color: #072a98;
  background: rgba(255, 255, 255, 0.7);
  width: 2.5em;
  height: 2em;
  position: relative;
  left: 1em;
  top: 1rem;
}

main .container {
  margin-top: 8em;
}

#insights .navbar {
  padding: 0;
  margin-bottom: 1em;
}

#insights .navbar-nav, .scrollmenu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  font-weight: 600;
}
.scrollmenu{
  border-bottom: none;
}

.top-search {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #707070;
  border-radius: 0.5em;
  opacity: 0.3;
  padding: 0.4em;
  padding-left: 2em;
  width: 14em;
  margin-left: 4em;
}

.card {
  padding: 0;
  border-radius: 0.7em;
  transition-duration: 0.5s;
}
.card-body {
  padding-top: 0;
}

.card-img-top {
  border-radius: 0.7em 0.7em 0 0;
}

.card-title {
  font-weight: 700;
}

/*.tab {
  overflow: hidden;
}*/

.tab a:not(:last-child){
  margin-right: .5rem;
}

/* Style the buttons inside the tab */
.tab a {
  background-color: inherit;
  float: left;
  border-bottom: 4px solid #fff;;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #000;
}

/* Change background color of buttons on hover */
.tab a:hover {
  border-bottom: 4px solid #EE7A37;;
}

/* Create an active/current tablink class */
.tab a.active {
  border-bottom: 4px solid #EE7A37;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


.pre-article,
.post-article,
.blog-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.3em 0;
}

.category-button {
  background: #3d6df0 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 0.2em 1.5em;
  color: white;
}

.read-time,
.views,
.blog-date {
  font-size: 0.8em;
  font-style: italic;
  color: #313131;
}

.read-more {
  border: 1px solid #3d6df0;
  background-color: white;
  border-radius: 4px;
  padding: 0.4em 2em;
  letter-spacing: 0.18px;
  color: #3d6df0;
  transition-duration: 0.5s;
}

.article-link:link,
.article-link:visited {
  text-decoration: none;
}

.article-link:hover {
  color: #fff;
}

.read-more:hover {
  background-color: #3d6df0;
  color: white;
}

.post-article {
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
}

.load-more-btn,
.get-in-touch,
.estimate-btn {
  height: 3em;
  width: 14em;
  background-color: white;
  color: #f18e43;
  border: 4px double #f18e43;
  border-radius: 40px;
  transition-duration: 0.5s;
}

.get-in-touch {
  margin: 1em auto;
}

.get-in-touch,
.estimate-btn {
  background: transparent
    linear-gradient(285deg, #fddb71 0%, #f0883f 66%, #ee7a37 100%) 0% 0%
    no-repeat padding-box;
  color: white;
}

.card:nth-child(2) {
  box-shadow: 3px 6px 20px #487ab033;
}

.bold {
  font-weight: bold;
}


.line {
  width: 50%;
  height: 0.1em;
  background-color: #fff; /*#052458;*/
  border-radius: 2em;
}

/* FOOTER STYLES */
.main-footer {
  background-color: #27496d; /*#6dbffc;*/
  background-image: url(../images/World-Map-Free-PNG-Image.png);
  background-size: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-footer .row > div:nth-child(2) {
  margin-left: 4em;
}

.bottom-footer > .container {
  margin-top: 0;
}

.footer__nav {
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
}

.bottom-nav {
  font-size: 0.9rem;
}
.bottom-nav {
  padding: 0;
  width: 100%;
}

.bottom-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-nav li {
  padding-right: 2em;
}

#article-title {
  text-align: center;
  margin: 1.5em 0 1em 0;
}

.article-image {
  width: 100%;
}

.article-author,
.article-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.article-author i {
  background-color: #eee;
  color: #999;
  padding: 0.8em 1em;
  border-radius: 50%;
  font-size: 0.7em;
}

.author-social a {
  text-decoration: none;
}

.article-info {
  margin: 1em 0;
  color: #717171;
  font-style: italic;
}

.card:hover {
  transform: scale(1.005);
  z-index: 1000;
  box-shadow: 3px 3px 16px#555;
}
@media (max-width: 1000px) {
  header #navbarSupportedContent {
    background: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 41.5vh;
    z-index: 900;
    text-align: left;
  }
  header .navbar-toggler {
    z-index: 999;
  }
  header .top-logo {
    left: 15px;
    padding: 0.5em;
    width: 15em;
    height: 5em;
  }
  .main-footer .row > div:nth-child(2) {
    margin-left: 0;
  }
  .main-footer .container > div {
    width: fit-content;
    margin: 0 auto;
  }
  .bottom-footer {
    text-align: center;
  }
  .main-footer {
    text-align: center;
  }
  .main-footer .line {
    margin: 0 auto;
  }
}

footer {
  background-color: #27496d; /*#6dbffc;*/
  background-image: url(//assets/images/World-Map-Free-PNG-Image.png);
  /* -webkit-clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
  clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
  border-radius: 10px; */
}
.top-footer > .container {
  border-bottom: 1px solid #062772;
}
.main-footer {
  color: #fff; /*#062772;*/
}

footer {
  padding-top: 1em;
}

.footer-col {
  padding: 0;
}

.footer-col ul {
  list-style-type: none;
  margin-top: 1em;
}

.footer-col li {
  margin-bottom: 0.8em;
}

.bottom-footer {
  background: #062772 0% 0% no-repeat padding-box;
  border-radius: 20px 20px 0px 0px;
  color: white;
  font-size: 1.2em;
}

.bottom-footer .container {
  margin-top: 1em;
}

.bottom-footer nav {
  padding: 1em 0;
}


/* @media only screen and (max-width: 450px) {
  .nav {
    padding-right: 1em;
    height: 3vh !important;
  }

  .card {
    margin: 1em;
  }
  .get-in-touch {
    display: block;
    margin: 0 auto;
  }
  .main-footer .row {
    text-align: center;
  }
  .main-footer .row > .col-md:nth-of-type(2) {
    margin-left: 0 !important;
  }
  .bottom-footer {
    text-align: center;
  }
  .line {
    margin: 0 auto;
  }
  .top-logo {
    width: 60%;
    height: 8%;
  }
  .top-logo h3 {
    font-size: 25px;
  }

  .navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
  }
  .top-search {
    margin: 0;
  }
} */

@media (min-width: 1281px) {

  }
/*   ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {

  }
/*   ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
    header .nav {
      height: 0;
    }
    header .navbar-nav{
      flex-direction: row;
      height: 7rem;
      position: relative;
      align-items: flex-end !important;
      justify-content: space-around !important;
    }
    .bottom-nav {
      font-size: 1rem;
    }
    .footer__img {
      width: 14rem;
    }
    .footer__info-content {
      flex: 100%;
      max-width: 100%;
    }
    .footer__nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .footer__link {
      font-size: 0.8rem;
    }
    .top-search{
      position: absolute;
      top: 0rem;
      width: 100%;
      right: 0rem;
      margin: 0;
    }
    .card{
      min-width: 40%;
      margin-left: 0 !important;

    }
    .card-resp{
      margin-top: 2rem;
    }

  }
/*   ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  }
/*   ##Device = Low Resolution Tablets, Mobiles (Landscape)  ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
  .nav{
    height: 7vh;
  }
  .navbar-nav{
    flex-direction: row;
    height: 7rem;
    position: relative;
    align-items: flex-end !important;
    justify-content: space-around !important;
  }
  .footer__img {
    width: 14rem;
  }
  .footer__info-content {
    flex: 100%;
    max-width: 100%;
  }
  .footer__nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .bottom-nav {
    font-size: 1rem;
  }
  .footer__link {
    font-size: 0.8rem;
  }
  .top-search{
    position: absolute;
    top: 0rem;
    width: 100%;
    right: 0rem;
    margin: 0;
  }
  .card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 2rem;
  }
  .get-in-touch{
    display: block;
    align-self: center;
  }

  .tab button{
    font-size: .7rem;
  }
  .bold{
    font-size: 1.3rem;
  }
}
/*   ##Device = Most of the Smartphones Mobiles (Portrait)  ##Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {
  .nav{
    height: 5vh;
  }
  .navbar-nav{
    flex-direction: row;
    height: 7rem;
    font-size: 1rem;
    position: relative;
    align-items: flex-end !important;
    justify-content: space-around !important;
  }
  .bottom-nav {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
  }
  .footer__img {
    max-width: 17rem !important;
  }
  .footer__info-content {
    flex: 100%;
    max-width: 100%;
  }
  .footer__nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .footer__link {
    font-size: 0.8rem;
  }
  .top-search{
    position: absolute;
    top: 0rem;
    width: 100%;
    right: 0rem;
    margin: 0;
  }

  .tab button{
    font-size: .9rem;
    margin-right: 0 !important;

  }
  .card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 2rem;
  }
  .get-in-touch{
    display: block;
    align-self: center;
  }
  .bold{
    font-size: 1.4rem;
  }
  .bottom-nav{
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }
  .copyright {
    position: absolute;
    top: 70%;
    left: 25%;
  }
  .tab {
    display: flex;
    width: 100%;
    overflow: auto;
    white-space: wrap;
  }
  .arrow-image{
    max-width: 100%;
  }
  .tablinks{
    min-width: 8rem;
  }
  header .top-logo{
    width: 10rem;
    height: 3rem;
  }
  .top__logo-heading{
    font-size: 1rem;
  }
  .nav{
    font-size: .7rem;
  }

  .article-row{
    padding: 1rem;
  }

}