.modal {
  box-sizing: border-box;
  margin: auto;
  transition: 0.4s;
  max-height: 540px;
  max-width: 1200px;
  height: auto;
  width: 60%;
  margin: auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s, box-shadow 0.3s 0.4s;
  overflow: hidden;
  z-index: 11;
}

.modal.hidden {
  box-shadow: none;
  transition: 0.4s, box-shadow 0s;
  opacity: 0;
  visibility: hidden;
}
.modal.hidden .form {
  top: 100%;
}
.modal.hidden .invite {
  top: -100%;
}
.modal.hidden .invite .close {
  height: 0;
  width: 0;
  top: 0;
  right: 0;
}

.invite {
  background: #fff;
  width: 50%;
  height: 100%;
  padding: 25px;
  float: left;
  top: 0;
  left: 0;
}
.form {
  background: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
  padding: 20px;
  float: right;
  top: 0;
  left: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.form::-webkit-scrollbar {
  display: none;
}
.form form {
  padding-left: 60px;
  padding-right: 60px;
}
.Form-head {
  color: #000133;
  margin-top: 30px;
}
input {
  background: rgba(5, 5, 5, 0);
  width: 100%;
  max-height: 40px;
  padding: 8px;
  margin: 15px 0;
  border: 1px solid #4d4e8d;
  border-radius: 0px;
  outline: none;
  color: #000133;
  font-size: 16px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 500px #7b96f0 inset;
  -webkit-text-fill-color: #fff;
}
textarea {
  background: rgba(5, 5, 5, 0);
  width: 100%;
  max-height: 90px;
  padding: 8px;
  margin: 15px 0;
  border: 1px solid #4d4e8d;
  border-radius: 0px;
  outline: none;
  color: #000133;
  font-size: 16px;
  resize: none;
}
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 500px #7b96f0 inset;
  -webkit-text-fill-color: #fff;
}

.img_logo {
  height: auto;
  width: 150px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 30px;
}

label {
  font: 500 14px Roboto;
  color: #000133;
}

.invite {
  text-align: center;
  background: linear-gradient(-90deg, #000133, #0c0f74);
  left: 50%;
}

.invite h3 {
  margin-top: 50px;

  font: 20px Roboto;
  text-transform: uppercase;
  color: white;
}

.invite p {
  margin-top: 50px;

  font-size: 20px;
  color: white;
}

.close {
  background: #fff;
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 0;
  cursor: pointer;
  transition: 0.4s 0.3s;
}

.close:before,
.close:after {
  content: "";
  background: #000133;
  height: 80%;
  width: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.send-btn-modal {
  position: relative;
  height: 3em;
  width: 100%;
  background-color: white;
  color: #000133;
  border: 0px double #000133;
  border-radius: 0px;
  transition-duration: 0.5s;

  margin-bottom: 50px;
  margin: 1em auto;
  background: linear-gradient(-45deg, #000133, #000230);
  color: white;
  outline: none;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .modal {
    height: 420px;
  }
  input {
    width: 100%;
    max-height: 70px;
    padding: 8px;
    margin: 10px 0;

    font-size: 10px;
  }
  textarea {
    font-size: 10px;
  }
  .invite h3 {
    margin-top: 8px;
    font: 14px Roboto;
    text-transform: uppercase;
  }

  .invite p {
    margin-top: 15px;
    font-size: 14px;
  }
  .form {
    padding: 4px;
  }
  .form form {
    padding-left: 7px;
    padding-right: 7px;
  }
  .Form-head {
    margin-top: 10px;
    font-size: 15px;
  }
  .img_logo {
    margin-bottom: 0px;
  }
}
