{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ block.super }}
{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}" />
<script
  src="https://kit.fontawesome.com/16370dbf02.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="{% static 'assets/css/home.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/contact.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/about.css' %}" />

{% endblock styles %}

{% block content %}

  {% include "header.html" %}

  <section class="about__section">
    <img src="{% static 'assets/images/pttep.png' %}" alt="" class=" logo-float-1">
    <img src="{% static 'assets/images/servicenow-removebg-preview.png' %}" alt="" class="logo-float-2">
    <img src="{% static 'assets/images/specsaver.png' %}" alt="" class="logo-float-3">
    <img src="{% static 'assets/images/dynamiccrm.svg' %}" alt="" class="logo-float-4">
    <div class="about">
      <h2 class="about__heading">Changing the way</h2>
      <p class="about__para">
        Binmile founded in January 2017, We completed our 2 years and 6 months
        successfully. We are a group of highly aligned technical professionals
        and we are working on Dynamics 365 CRM & ServiceNow platform. Binmile
        forges each relationship with the intention of delivering exceptional
        client service!! Our Mantra is “Keep Smiling and be focused“. The best
        part of the team is that we all are aligned with work and have a
        focused approach to get client success. We would like to grow swiftly,
        would like to grow together as a team and would like to keep focused
        on our Mantra. We are a team of 12 in the count and each team member
        understands the definition of Customer Success. We are working with
        clients in UK, USA, and India. Our vision is to become a #1
        Organization to provide Technical Consultancy, Implementation
        Services, Best in use Solutions, and Post live Support for Dynamics
        365 CRM and ServiceNow Platform. We love what we do!
      </p>

      <a href="{% url 'posts:contact-us' %}" class="btn know-more-btn">Click to know more</a>
    </div>

    <div class="about__info">
      <h2 class="about__info-head">
        Develop and Deploy Telecommunication products that change the world
      </h2>
      <p class="about__info-para">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis
        doloribus non ut nam! Earum nobis nulla cupiditate repellat dolore
        perferendis doloremque placeat ex accusantium ea, modi, nesciunt
        molestias tempora explicabo?Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Debitis doloribus non ut nam! Earum nobis nulla
        cupiditate repellat dolore perferendis doloremque placeat ex
        accusantium ea, modi, nesciunt molestias tempora explicabo?
      </p>
    </div>

    <div class="about__show">
      <div class="about__show-content">
        <div class="about__description">
          <h4 class="heading-4">Lorem epsum dolar</h4>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut et
            consectetur, recusandae molestias explicabo eaque.
          </p>
        </div>
        <div class="about__description">
          <h4 class="heading-4">Lorem epsum dolar</h4>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut et
            consectetur, recusandae molestias explicabo eaque.
          </p>
        </div>
        <div class="about__description">
          <h4 class="heading-4">Lorem epsum dolar</h4>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut et
            consectetur, recusandae molestias explicabo eaque.
          </p>
        </div>
      </div>
      <div class="about__show-gallery">
        <figure class="gallery__item gallery__item--1">
          <img
            src="{% static 'assets/images/pic1.png' %}"
            alt="Gallery image 1"
            class="gallery__img"
          />
        </figure>
        <figure class="gallery__item gallery__item--2">
          <img
            src="{% static 'assets/images/pic2.png' %}"
            alt="Gallery image 2"
            class="gallery__img"
          />
        </figure>
        <figure class="gallery__item gallery__item--3">
          <img
            src="{% static 'assets/images/pic3.png' %}"
            alt="Gallery image 3"
            class="gallery__img"
          />
        </figure>

        <div class="quotation">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Voluptas, laudantium!
          </p>
          <a href="#" class="quotation-text">Get your quotation now</a>
        </div>
      </div>
    </div>
    <div class="team">
      <div class="team-info">
        <h3 class="team-heading">Meet Leaders behind Binmile Technology</h3>
        <p class="team-info-para">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita,
          consequatur Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Expedita, consequatur.
        </p>
      </div>
      <div class="team-images">
        <div class="team-image-1">
          <div class="team__img-1"></div>
          <p class="team-description">Avanish</p>
          <p class="team-position">CEO &amp; Founder</p>
        </div>
        <div class="team-image-2">
          <div class="team__img-2"></div>
          <p class="team-description">Padmaja</p>
          <p class="team-position">CTO</p>
        </div>
        <div class="team-image-3">
          <div class="team__img-3"></div>
          <p class="team-description">Rahul</p>
          <p class="team-position">Customer Success <br>Manager</p>
        </div>
        <div class="team-image-3">
          <div class="team__img-3"></div>
          <p class="team-description">Yash</p>
          <p class="team-position">ServiceNow Tech <br>Consultant</p>
        </div>
        <div class="team-image-3">
          <div class="team__img-3"></div>
          <p class="team-description">Nazish</p>
          <p class="team-position">Microsoft &amp; Power <br> Platform Technical Lead</p>
        </div>
      </div>
    </div>
  </section>

  <!-- footer starts -->
  {% include "footer.html" %}
  <!-- footer ends -->

{% endblock content %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}
