{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ block.super }}
{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/home.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/contact.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/about.css' %}" />

{% endblock styles %}

{% block content %}

  {% include "header.html" %}

  <section class="about__section">
    <img src="{% static 'assets/images/about-us/Power BI.png' %}" alt="" class=" logo-float-1 t789">
    <img src="{% static 'assets/images/about-us/servicenow-removebg-preview.png' %}" alt="" class="logo-float-2 t789">
    <img src="{% static 'assets/images/about-us/Power Apps-transparent.png' %}" alt="" class="logo-float-3 t789">
    <img src="{% static 'assets/images/about-us/dynamiccrm.svg' %}" alt="" class="logo-float-4 t789">
    <img src="{% static 'assets/images/about-us/Microsoft Flow-transparent.png' %}" alt="" class="logo-float-5 t789">
    <img src="{% static 'assets/images/about-us/Dynamics 365-transparent.png' %}" alt="" class="logo-float-6 t789">
    <div class="about">
      <h2 class="about__heading">About Us</h2>
      <p class="about__para">
        Binmile Technologies Private Limited was founded with one objective.<br>
        ‘To be the best in industry when it comes to helping businesses achieve best they can with
        help of technology.’<br>
        We value relationships, and it is with this intention we aim to deliver exceptional services to the clients.
        We measure our success by the value we have added to the clients business.<br>
        With Clients from varied industries and geographies we have been able to develop a holistic and agile
        approach towards how we can add value to business using technology.<br>
        We are a team of trained and skilled developers, technical consultants and analysts working on
        platforms such as ServiceNow, Microsoft Dynamics 365 and Power Platform with a common motto.<br>
        “We measure our success by the value we have added to our clients business”
      </p>

      <a href="{% url 'posts:contact-us' %}" class="btn know-more-btn">Click to know more</a>
    </div>

    <div class="about__info">
      <h2 class="about__info-head">
        Develop and Deploy Telecommunication products that change the world
      </h2>
      <!-- <p class="about__info-para">

      </p> -->
    </div>
    <div class="about__show">
      <div class="about__show-content">
        <div class="about__description">
          <h2><span style="font-size: 0.4rem; vertical-align: middle; margin-right: 0.5rem;"><i class="fas fa-circle"></i></span>Advisory</h2>
        </div>
        <div class="about__description">
          <h2><span style="font-size: 0.4rem; vertical-align: middle; margin-right: 0.5rem;"><i class="fas fa-circle"></i></span>Implementation</h2>
        </div>
        <div class="about__description">
          <h2><span style="font-size: 0.4rem; vertical-align: middle; margin-right: 0.5rem;"><i class="fas fa-circle"></i></span>Automation Testing</h2>
        </div>
        <div class="about__description">
          <h2><span style="font-size: 0.4rem; vertical-align: middle; margin-right: 0.5rem;"><i class="fas fa-circle"></i></span>Integration</h2>
        </div>
        <div class="about__description">
          <h2><span style="font-size: 0.4rem; vertical-align: middle; margin-right: 0.5rem;"><i class="fas fa-circle"></i></span>Customization</h2>
        </div>
      </div>
      <div class="about__show-gallery">
        <figure class="gallery__item gallery__item--1">
          <img
            src="{% static 'assets/images/pic1.png' %}"
            alt="Gallery image 1"
            class="gallery__img"
          />
        </figure>
        <figure class="gallery__item gallery__item--2">
          <img
            src="{% static 'assets/images/pic2.png' %}"
            alt="Gallery image 2"
            class="gallery__img"
          />
        </figure>
        <figure class="gallery__item gallery__item--3">
          <img
            src="{% static 'assets/images/pic3.png' %}"
            alt="Gallery image 3"
            class="gallery__img"
          />
        </figure>

        <div class="quotation">
          <!-- <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Voluptas, laudantium!
          </p> -->
          <a href="#" class="quotation-text">Get your quotation now</a>
        </div>
      </div>
    </div>
    <div class="team">
      <div class="team-info">
        <h3 class="team-heading">Meet Leaders behind Binmile Technology</h3>
        <p class="team-info-para">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita,
          consequatur Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Expedita, consequatur.
        </p>
      </div>
      <div class="container-fluid team-images">
        <div class="row">
          <div class="col-sm mb-5">
            <div class="team__img-1">
              <img src="{% static 'assets/images/team2.jpg' %}" class="img-fluid rounded-circle" alt="Team member image">
            </div>
            <p class="team-description">Avanish</p>
            <p class="team-position">CEO &amp; Founder</p>
          </div>
          <div class="col-sm mb-5">
            <div class="team__img-2">
              <img src="{% static 'assets/images/team2.jpg' %}" class="img-fluid rounded-circle" alt="Team member image">
            </div>
            <p class="team-description">Padmaja</p>
            <p class="team-position">CTO</p>
          </div>
          <div class="col-sm mb-5">
            <div class="team__img-3">
              <img src="{% static 'assets/images/team2.jpg' %}" class="img-fluid rounded-circle" alt="Team member image">
            </div>
            <p class="team-description">Rahul</p>
            <p class="team-position">Customer Success Manager</p>
          </div>
          <div class="col-sm mb-5">
            <div class="team__img-3">
              <img src="{% static 'assets/images/team2.jpg' %}" class="img-fluid rounded-circle" alt="Team member image">
            </div>
            <p class="team-description">Yash</p>
            <p class="team-position">ServiceNow Tech Consultant</p>
          </div>
          <div class="col-sm mb-5">
            <div class="team__img-3">
              <img src="{% static 'assets/images/team2.jpg' %}" class="img-fluid rounded-circle" alt="Team member image">
            </div>
            <p class="team-description">Nazish</p>
            <p class="team-position">Microsoft &amp; Power Platform Technical Lead</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer starts -->
  {% include "footer.html" %}
  <!-- footer ends -->

{% endblock content %}

{% block scripts %}
  {{ block.super }}
  {% include "footer_script.html" with top_color='#052454' top_height='10vh' %}
{% endblock scripts %}
