{% extends "base.html" %}

{% load static %}

{% block title %}
  BINMILE | Article
{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<script src="https://kit.fontawesome.com/16370dbf02.js" crossorigin="anonymous"></script>

{% endblock styles %}

{% block content %}

  <header>
    <span class="top-logo">
      <h3> <a href="{% url 'posts:index' %}" class="logo">BIN<span
        style="color: #EE7A37;border-right: 3px solid lightgray; padding-right: 5px"
        >MILE</span
      >
      Blog</a></h3>
    </span>
    <div class="nav">
      <a href="{% url 'posts:contact-us' %}" style="text-decoration: none; color: white;"> Contact Us</a>
    </div>
  </header>

  <main>
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
          <li>All Articles</li>
          <li class="active">Product</li>
          <li>Data Science</li>
          <li>Engineering</li>
          <li>Technology</li>
          <li><input type="text" class="top-search" placeholder="Search"></li>
        </ul>
      </nav>
      <div class="article-header">
        <h1 id="article-title" class="bold">
          {{ object.title }}
        </h1>
        <div class="article-author">
          <span>Piyush Tyagi</span>
          <span class="author-social">
            <span>
              <a target="_blank" href="">
                <i class="fab fa-facebook-f"></i>
              </a>
            </span>
            <span>
              <a target="_blank" href="">
                <i class="fab fa-linkedin"></i>
              </a>
            </span>
            <span>
              <a target="_blank" href="">
                <i class="fab fa-twitter"></i>
              </a>
            </span>
          </span>
        </div>
        <div class="article-info">
          <span>{{ object.timestamp|date:'j M Y' }}</span>
          <span>5.4k Views</span>
        </div>
        <img src="{% if object.thumbnail_img %}{{ object.thumbnail_img.url }}{% endif %}" class="article-image">
        <div class="pre-article">
          <span class="read-time">11 mins read</span>
          <a href="#" class="category-button">{{ object.category }}</a>
        </div>
        <div class="article-body">
          {{ object.content|safe }}
        </div>
        <div style="width: 40%;height: 2px;background-color: lightgray;margin: 2em auto;;"></div>
      </div>
      <h2 class="bold">Related Articles</h2>
      <div class="row" style="margin-top: 3em">
        {% for obj in related_posts %}
          <div class="col-md-4">
            <div class="card">
              <img src="{% if obj.thumbnail_img %}{{ obj.thumbnail_img.url }}{% endif %}" class="card-img-top">
              <div class="card-body">
                <div class="pre-article">
                  <a href="#" class="category-button">{{ obj.category }}</a>
                  <span class="read-time">11 mins read</span>
                </div>
                <h5 class="card-title">
                  {{ obj.title }}
                </h5>
                <p style="letter-spacing: 0.24px;color: #212121;">
                  {{ obj.content|safe|truncatewords_html:50 }}
                </p>
                <div class="post-article">
                  <a href="{{ obj.get_absolute_url }}" class="read-more">Read More</a>
                  <span class="views">5.4k Views</span>
                </div>
                <div class="blog-info">
                  <span class="author">Piyush Tyagi</span>
                  <span class="blog-date">{{ obj.timestamp|date:'j M Y' }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <section style="display:flex;justify-content: space-between; margin:4em">
        <img src="{% static 'assets/images/arrow-image.png' %}" class="col-md-6">
        <aside class="col-md-6">
          <h4 style="font-weight: bold; margin: 1.5em auto">Join the 1000+ businesses using Binmile</h4>
          <p>
            We make it easier for you to focus on building great products while we work on simplifying your technology.
            Become one of us by joining thousands of our happy users and simplify the online experience for your
            customers.
          </p>
          <p>
            Focus on your business while we handle the complexities of technology for you.
          </p>
          <button class="get-in-touch">Get in touch</button>
        </aside>
      </section>
    </div>
  </main>

  {% include "footer.html" %}

{% endblock content %}
