{% extends "base.html" %}

{% load static %}

{% block title %}
  BINMILE | Article
{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

{% endblock styles %}

{% block content %}

  {% include "header.html" with fixed=0 %}

  <main>
    <div class="container">
      <div class="article-header">
        <h1 id="article-title" class="bold">
          {{ object.title }}
        </h1>
        <div class="article-author">
          <span>
            {% if object.author %}
              {{ object.author }}
            {% endif %}
          </span>
          <span class="author-social">
            <span>
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&amp;title={{ object.title }}">
                <i class="fab fa-facebook-f"></i>
              </a>
            </span>
            <span>
              <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&title=&summary={{ object.title }} at Binmile&url={{ request.build_absolute_uri }}">
                <i class="fab fa-linkedin"></i>
              </a>
            </span>
            <span>
              <a target="_blank" href="https://twitter.com/intent/tweet?text={{ object.title }} at Binmile%20{{ request.build_absolute_uri }}">
                <i class="fab fa-twitter"></i>
              </a>
            </span>
          </span>
        </div>
        <div class="article-info">
          <span class="read-time">
            {% if object.read_minutes %}
              {{ object.read_minutes }} mins read
            {% endif %}
          </span>
          <!-- <span>5.4k Views</span> -->
          <span class="author-social">
            {{ object.timestamp|date:'j M Y' }}
          </span>
        </div>
        <!-- <img src="{% if object.thumbnail_img %}{{ object.thumbnail_img.url }}{% endif %}" class="article-image"> -->
        <!-- <div class="pre-article">
          <span class="read-time">
            {% if object.read_minutes %}
              {{ object.read_minutes }} mins read
            {% endif %}
          </span>
          {# <span class="category-button">{{ object.category }}</span> #}
        </div> -->
        <div class="article-body">
          {{ object.content|safe }}
        </div>
        <div style="width: 40%;height: 2px;background-color: lightgray;margin: 2em auto;;"></div>
      </div>
      <h2 class="bold">Related Articles</h2>
      <div class="row" style="margin-top: 3em">
        {% for obj in related_posts %}
          <div class="col-md-4">
            <div class="card">
              <a href="{{ obj.get_absolute_url }}">
                <img src="{% if obj.thumbnail_img %}{{ obj.thumbnail_img.url }}{% endif %}" class="card-img-top">
              </a>
              <div class="card-body">
                <div class="pre-article">
                  <span class="category-button">{{ obj.category }}</span>
                  <span class="read-time">
                    {% if object.read_minutes %}
                      {{ object.read_minutes }} mins read
                    {% endif %}
                  </span>
                </div>
                <h5 class="card-title">
                  {{ obj.title }}
                </h5>
                <p style="letter-spacing: 0.24px;color: #212121;">
                  {{ obj.highlight }}
                </p>
                <div class="post-article">
                  <a href="{{ obj.get_absolute_url }}" class="read-more">Read More</a>
                  <!-- <span class="views">5.4k Views</span> -->
                </div>
                <div class="blog-info">
                  <span class="author">
                    {% if obj.author %}
                      {{ obj.author }}
                    {% endif %}
                  </span>
                  <span class="blog-date">{{ obj.timestamp|date:'j M Y' }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <section style="display:flex;justify-content: space-between; margin:4em">
        <img src="{% static 'assets/images/arrow-image.png' %}" class="col-md-6">
        <aside class="col-md-6">
          <h4 style="font-weight: bold; margin: 1.5em auto">
            Join the list of businesses whom we helped transform
          </h4>
          <p>
            We make it easier for you to focus on building great products while we work on simplifying your technology.
            Become one of us by joining thousands of our happy users and simplify the online experience for your
            customers.
          </p>
          <p>
            Focus on your business while we handle the complexities of technology for you.
          </p>
          <button class="get-in-touch">Get in touch</button>
        </aside>
      </section>
    </div>
  </main>

  {% include "footer.html" %}

{% endblock content %}
