{% extends "base.html" %}

{% load static %}

{% block title %}
  BINMILE | Blog
{% endblock title %}

{% block styles %}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
/>
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

{% endblock styles %}

{% block content %}

  <header>
    <span class="top-logo">
      <h3 class="top__logo-heading">
        <a href="{% url 'posts:index' %}" class="logo">BIN<span
          style="color: #EE7A37;border-right: 3px solid lightgray; padding-right: 5px"
          >MILE</span
        >Blog</a>
      </h3>
    </span>
    <div class="nav">
      <a href="{% url 'posts:contact-us' %}" style="text-decoration: none; color: white;"> Contact Us</a>

    </div>
  </header>

  <main>
    <div class="container">
      <!-- <div >
        <nav class="navbar navbar-expand-lg">
          <ul class="navbar-nav ">
            <div class="scrollmenu">
              <li><a href=""></a> All&nbsp;Articles</li> &nbsp; &nbsp;
              <li class="active">Product</li> &nbsp; &nbsp;
              <li>Data&nbsp;Science</li> &nbsp; &nbsp;
              <li>Engineering</li> &nbsp; &nbsp;
              <li>Technology</li> &nbsp; &nbsp;
            </div>

            <li>
              <input type="text" class="top-search" placeholder="Search" />
            </li>
          </ul>
        </nav>
      </div> -->

      <div>
        <nav class="navbar navbar-expand-lg">
          <ul class="navbar-nav ">
              <div class="tab">
                <button class="tablinks" onclick="openArticles(event, 'Articles')" id="defaultOpen">All&nbsp; Articles</button>
                {% for category in categories %}
                  <button class="tablinks" onclick="openArticles(event, '{{ category.name }}')">{{ category.name }}</button>
                {% endfor %}
              </div>
            <li>
              <input type="text" class="top-search" placeholder="Search" />
            </li>
          </ul>
        </nav>
      </div>

      <!-- ALL ARTICLES -->
      <div id="Articles" class="tabcontent active">
        <div class="row article-row" style="margin-top: 3em">
        {% for post in posts %}
          <div class="col-md-4" style="margin-bottom: 3em">
            <div class="card">
              <img src="{% if post.thumbnail_img %}{{ post.thumbnail_img.url }}{% endif %}" class="card-img-top" />
              <div class="card-body">
                <div class="pre-article">
                  <a href="#" class="category-button">{{ post.category.name }}</a>
                  <span class="read-time">11 mins read</span>
                </div>
                <h5 class="card-title">
                  {{ post.title }}
                </h5>
                <p style="letter-spacing: 0.24px;color: #212121;">
                  {{ post.content|safe|truncatechars_html:300 }}
                </p>
                <div class="post-article">
                  <button class="read-more">
                    <a href="{% url 'posts:detail' post.id %}" class="article-link"
                      >Read More</a
                    >
                  </button>
                  <span class="views">5.4k Views</span>
                </div>
                <div class="blog-info">
                  <span class="author">Piyush Tyagi {{ post.author.name }}</span>
                  <span class="blog-date">{{ post.timestamp|date:'j M Y' }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <div style="width: 100%;text-align:center;margin:2em 0">
          <button class="load-more-btn">Load More</button>
        </div>
      </div>

      {% for category in categories %}
        <div id="{{ category.name }}" class="tabcontent">
          <div class="row article-row" style="margin-top: 3em">
            {% for post in posts %}
              {% if post.category == category %}
                <div class="col-md-4" style="margin-bottom: 3em">
                  <div class="card">
                    <img src="{% if post.thumbnail_img %}{{ post.thumbnail_img.url }}{% endif %}" class="card-img-top" />
                    <div class="card-body">
                      <div class="pre-article">
                        <a href="#" class="category-button">{{ post.category.name }}</a>
                        <span class="read-time">11 mins read</span>
                      </div>
                      <h5 class="card-title">
                        {{ post.title }}
                      </h5>
                      <p style="letter-spacing: 0.24px;color: #212121;">
                        {{ post.content|safe|truncatechars_html:300 }}
                      </p>
                      <div class="post-article">
                        <button class="read-more">
                          <a href="{% url 'posts:detail' post.id %}" class="article-link"
                            >Read More</a
                          >
                        </button>
                        <span class="views">5.4k Views</span>
                      </div>
                      <div class="blog-info">
                        <span class="author">Piyush Tyagi {{ post.author.name }}</span>
                        <span class="blog-date">{{ post.timestamp|date:'j M Y' }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div style="width: 100%;text-align:center;margin:2em 0">
            <button class="load-more-btn">Load More</button>
          </div>
        </div>
      {% endfor %}

      <section style="display:flex;justify-content: space-between;">
        <div class="row">
          <img
            src="{% static 'assets/images/arrow-image.png' %}"
            class="col-md-6 col-xs-12 col-sm-12"
          />
          <aside class="col-md-6 col-sm-12 col-xs-12">
            <h4 style="font-weight: bold; margin: 1.5em auto">
              Join the 1000+ businesses using Binmile
            </h4>
            <p>
              We make it easier for you to focus on building great products
              while we work on simplifying your technology. Become one of us
              by joining thousands of our happy users and simplify the online
              experience for your customers.
            </p>
            <p>
              Focus on your business while we handle the complexities of
              technology for you.
            </p>
            <button class="get-in-touch">Get in touch</button>
          </aside>
        </div>
      </section>
    </div>
  </main>

  {% include "footer.html" with extra=True %}

{% endblock content %}

{% block scripts %}

<script>
  function openArticles(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
  </script>

{% endblock scripts %}
