{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Career at Binmile</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91243033-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-91243033-1');
    </script>

    <link
      rel="shortcut icon"
      href="{% static 'assets/images/faviconlogo.png' %}"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css">

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/owl.carousel.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/owl.theme.default.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/service.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/crm.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/career.css' %}" />

    <script
      src="https://kit.fontawesome.com/16370dbf02.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {% include "header.html" %}

    <div class="hero">
      <div class="hero-left">
        <div class="hero-text">
          <h1>Careers</h1>
          <h3 class="hero-h3">
            at Binmile
          </h3>
          <p class="career_header-para">
            We’re helping businesses solve technological challenges faced by
            companies globally and are looking for go-getters to join the team.
          </p>
        </div>
        <button class="get-started">
          <a href="#start" class="contact-link">Join us</a>
        </button>
      </div>
      <div class="hero-right">
        <img
          src="{% static 'assets/images/career/career-img.png' %}"
          alt="career-img"
          class="pillar-img"
        />
      </div>
    </div>

    <section class="career_first-section" id="start">
      <h3 class="section-heading">
        We are a team of coders and consultants, solving the technology needs of
        clients all around the world. As an enterprise, we are aggressively
        growing with a presence in India and the USA. We take pride in our work
        culture by recognizing individual contributions.
      </h3>

      <div class="for-position">
        <ul>
          <li>We are currently looking for new people to join us.</li>
        </ul>

        <button class="get-started">
          <a href="#for-jobs" class="contact-link">View Open Position</a>
        </button>
      </div>
    </section>

    <section class="life_at-binmile">
      <div class="about-life">
        <h3 class="life-heading">Life at Binmile</h3>
        <p class="life-para">
          At Binmile, we believe in enjoying the small wins, cherish the
          moments, and stand by our teammates. A typical day at work comprises
          laughter, team activities, and lots of learning.
        </p>
      </div>

      <div class="life-stories">
        <div class="life-stories-1 life-stories-content">
          <h3 class="life-stories-heading">
            Be Happy <span class="for-counts">1</span>
          </h3>

          <p class="life-stories-para">
            Our Mantra! Keep smiling and be focused.
          </p>
        </div>
        <div class="life-stories-2 life-stories-content">
          <h3 class="life-stories-heading">
            Learn <span class="for-counts">2</span>
          </h3>
          <p class="life-stories-para">
            Experience learning never like before, with hands on projects with
            devoted mentorship
          </p>
        </div>
        <div class="life-stories-3 life-stories-content">
          <h3 class="life-stories-heading">
            Innovate <span class="for-counts">3</span>
          </h3>
          <p class="life-stories-para">
            Ample opportunities to innovate ideas and process, giving you the
            environment to be a free thinker
          </p>
        </div>
        <div class="life-stories-4 life-stories-content">
          <h3 class="life-stories-heading">
            Collaborate <span class="for-counts">4</span>
          </h3>
          <p class="life-stories-para">
            Soft Skills are as important as technical skills. Don’t just grow
            professionally but as person as well.
          </p>
        </div>
      </div>
    </section>
    <section class="gallery" id="lightgallery">
    {% for object in object_list %}

        <a href="{{ object.image.url }}" class="gallery__item gallery__item--{{ forloop.counter }}">
          <img src="{{ object.image.url }}" alt="Gallery Image {{ forloop.counter }}" class="gallery__img" />
        </a>
    {% endfor %}
    </section>
    <section class="section-employee-reviews">
      <h4 class="reviews-heading-1">
        People love working here
      </h4>
      <h1 class="reviews-main-heading">
        Why employees love working here at Binmile?
      </h1>

      <div class="employee-reviews">
        <div class="reviews">
          <div class="review-first">
            <div class="review-img review-img-1">

            </div>

            <p class="review-para">
              ‘I cherish my work at Binmile. The Founder takes the time to
              invest in employees and helps us get to where we need to be to
              succeed. I am at a place in my career that I never thought I would
              be.
            </p>
            <h3 class="review-name">Rohit</h3>
          </div>
        </div>
        <div class="reviews-1">
          <div class="review-first">
            <div class="review-img review-img-2">

            </div>
            <p class="review-para">
              ‘Since day one at Binmile, every day has been learning. The
              mentorship and hands-on with live projects, along with regular
              mocks and training sessions, have helped me grow both personally
              and professionally.
            </p>
            <h3 class="review-name">Shruti</h3>
          </div>

          <div class="review-first">
            <div class="review-img review-img-3">

            </div>
            <p class="review-para">
              ‘The best thing about working at Binmile is the diversity in work.
              Every day is a new challenge, constantly growing and learning. The
              culture at Binmile is closer to that of a symbiosis relationship.’
            </p>
            <h3 class="review-name">Shipra</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="jobs" id="for-jobs">
      <div class="jobs-content">
        <h3 class="jobs-heading">Want to become one of us?</h3>
        <p class="jobs-para">
          We’re looking for talented people to do be part of journey to an
          endless growth.
        </p>
      </div>
     <!--Accordion wrapper-->
      <div class="accordion md-accordion jobs-card" id="accordionEx" role="tablist" aria-multiselectable="true">
          {% for object in job_profiles %}
              <!-- Accordion card -->
              <div class="card">
                  <!-- Card header -->
                  <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
                      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse{{ forloop.counter }}" aria-expanded="{% if forloop.counter == 1 %}true{% else %}false{% endif %}"
                      aria-controls="collapse{{ forloop.counter }}" class="{% if not forloop.counter == 1 %}collapsed{% endif %} panel-link">
                          <h5 class="mb-0 for-center ">
                              {{ object.title }}<i class="fas fa-angle-down rotate-icon icon-down small-margin"></i>
                          </h5>
                      </a>
                  </div>
                  <!-- Card body -->
                  <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.counter == 1 %}show{% endif %}" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionEx">
                      <div class="card-body">
                          <p class="job-location">Location: <span>{{ object.location }}</span></p>
                          <p class="job-experience">Experience: <span>{{ object.experience_years }} Years</span></p>
                          <p class="job-position">Position: <span>{{ object.positions }}</span> </p>
                          <p class="jobs-description">
                              {{ object.description }}
                          </p>
                          <button class="get-started send-cv-btn">
                              <a href="mailto:business@binmile.com" class="contact-link">Send us your CV</a>
                          </button>
                      </div>
                  </div>
              </div>
              <!-- Accordion card -->
          {% endfor %}
      </div>
      <!-- Accordion wrapper -->

      <div class="anyway-send-cv">
          <p>Didn't find a position that suits you? Don't worry you can send us your CV and we will review it. </p>
          <button class="get-started">
              <a href="mailto:business@binmile.com" class="contact-link">Send CV</a>
          </button>
      </div>
    </section>

    {% include "footer.html" with extra=0 %}
  </body>

  <script
    src="//code.tidio.co/ntbvrxc2bygx9vrnptufdvakjunxcnsw.js"
    async
  ></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js"></script>

  <script>
    $(document).ready(function() {
      $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        if (scroll > 700) {
          $("#navbar").css("background", "#062772"),
            $("#navbar").css("height", "8vh"),
            $(".dropdown").css("transform", "translateY(-2px)"),
            $(".navbar-toggler").css("top", "-1rem"),
            $("#navbarSupportedContent").css("top", "-1.5rem");
        } else {
          $("#navbar").css("background", "transparent");
        }
      });
    });

    /** CLOSE MAIN NAVIGATION WHEN CLICKING OUTSIDE THE MAIN NAVIGATION AREA**/
    $(document).ready(function() {
      $(document).click(function(event) {
        var clickover = $(event.target);
        var _opened = $(".navbar-collapse").hasClass("show");
        if (_opened === true && !clickover.hasClass("navbar-toggler")) {
          $(".navbar-toggler").click();
        }
      });
    });

    $(".dropdown").on("click", function(event) {
      // The event won't be propagated up to the document NODE and
      // therefore delegated events won't be fired
      event.stopPropagation();
    });
    $('.dropdown-submenu').on('click', function(event){
    // The event won't be propagated up to the document NODE and
    // therefore delegated events won't be fired
    event.stopPropagation();
});
    $(".btn-group, .dropdown").hover(
                        function () {
                            $('>.dropdown-menu', this).stop(true, true).fadeIn("fast");
                            $(this).addClass('open');
                        },
                        function () {
                            $('>.dropdown-menu', this).stop(true, true).fadeOut("fast");
                            $(this).removeClass('open');
                        });
  </script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#lightgallery').lightGallery({
    mode: 'lg-fade',
    download: false,
    slideshow: false,
    share: false,
    zoomin: false,
    zoomout: false,
    });
});
</script>
</html>
