{% extends "base.html" %}

{% load static %}

{% block title %}
  Contact Us | Binmile
{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}" />
<script
  src="https://kit.fontawesome.com/16370dbf02.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="{% static 'assets/css/home.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/contact.css' %}" />

{% endblock styles %}

{% block content %}

  {% include "header.html" %}

  <!-- <div class="container">
    <div class="contact__content">
      <h5 class="heading-5">Team Binmile would like to hear from you!!</h5>
      <h3 class="heading-3">LET’S DISCUSS NEXT STEPS…</h3>
      <h5 class="heading-5">
        Want to know learn more, interested in our services, or just looking
        for some guidance?
      </h5>
    </div>
  </div> -->

  <div class="contact" id="contactForm">
    <div class="contact__info">
      <div class="et_pb_column et_pb_column_1_3  et_pb_column_0">
        <div
          class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_0"
        >
          <h2 class="heading">
            <strong><span>Get in touch</span></strong>
          </h2>
        </div>
        <!-- .et_pb_text -->
        <div
          class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_right  et_pb_text_1"
        >
          <p style="text-align: left;" class="para">
            <span style="color: #000080;"
              >Our Experts will provide an one hour free consultancy</span
            >
          </p>
          <p style="text-align: left; color: #fff;">
            <span style="color: #000080;"
              ><a style="color: #000080;" href="mailto:business@binmile.com"
                ><i class="fas fa-envelope"></i> business@binmile.com</a
              ></span
            >
          </p>
          <p style="text-align: left; color: #fff;">
            <span style="color: #000080;"
              ><i class="fas fa-phone-alt"></i> +1(415)-915-7177</span
            >
          </p>
          <p style="text-align: left; color: #fff;">
            <span style="color: #000080;"
              ><i class="fas fa-phone-alt"></i> +91.120.4091789</span
            >
          </p>
          <p style="text-align: left;">
            <span style="color: #000080;"
              ><i class="fas fa-map-marker-alt"></i> Binmile Technologies,
              D-42, Sector-59 &nbsp;
            </span>
          </p>
          <p style="text-align: left;">
            <span style="color: #000080;"
              >&nbsp; &nbsp; Noida, UP – 201301, India</span
            >
          </p>
        </div>
        <!-- .et_pb_text -->
      </div>
    </div>

    <div class="contact__form">
      {% if messages %}
        {% for message in messages %}
          <h3 class="text-{{ message.tags }}">{{ message }}</h3>
        {% endfor %}
      {% else %}
        <h2 class="heading-2">Send Us Message</h2>
        <form action="" class="form" method="post">
          {% csrf_token %}
          <input type="text" required="" name="name" placeholder="Full Name" class="input">
          {% if form.name.errors %}
            <div class="text-danger">
              {% for error in form.name.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <input type="email" required="" name="email" id="" placeholder="Enter Email Id" class="input">
          {% if form.email.errors %}
            <div class="text-danger">
              {% for error in form.email.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <textarea name="message" required="" rows="10" cols="30" placeholder="Enter Message Here" class="input-msg"></textarea>
          {% if form.message.errors %}
            <div class="text-danger">
              {% for error in form.message.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <button type="submit" class="send-btn">Send</button>
        </form>
      {% endif %}
    </div>
  </div>

  <!-- footer starts -->
  {% include "footer.html" %}
  <!-- footer ends -->

{% endblock content %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}
