{% load static %}

<header class="header fixed-top" id="navbar">
  <span class="top-logo">
    <a href="{% url 'posts:index' %}" >
      <img src="{% static 'assets/images/final-logo-binmille.png' %}" class="header__logo">
    </a>
  </span>
  <div class="nav navbar navbar-expand-lg ">
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent1" aria-expanded="false"
      aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li><a href="{% url 'posts:index' %}" class="nav-link">Home</a></li>
        <li>
          <div class="btn-group">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle dropdown-btn"
               href="">
                Services
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="{% url 'posts:services' %}">ServiceNow</a></li>
                <li><a href="{% url 'posts:engineering-product' %}">Product Engineering</a></li>
                <li><a href="{% url 'posts:microsoft-dynamics-365' %}">Microsoft Dynamics 365</a></li>
                <li><a href="{% url 'posts:power-platform' %}">Power Platform</a></li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item" tabindex="-1" href="{% url 'posts:quality' %}#quality-assurance">
                      Quality Assurance
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" tabindex="-1" href="{% url 'posts:quality' %}#quality-assurance">Test Automation</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts:quality' %}#regression-testing">Regression Testing</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts:quality' %}#quality-assurance">Mobile Testing</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts:quality' %}#regression-testing">Functional Testing</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts:quality' %}#regression-testing">Crowdsourced Testing</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item" tabindex="-2" href="{% url 'posts:quality' %}#quality-engineering">
                    Quality Engineering
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" tabindex="-2" href="{% url 'posts:quality' %}#quality-engineering">Agile Testing</a></li>
                      <li><a class="dropdown-item" href="{% url 'posts:quality' %}#quality-engineering">Devops Testing</a></li>
                  </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-3" href="{% url 'posts:quality' %}#digital-assurance">
                    Digital Assurance
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" tabindex="-3" href="{% url 'posts:quality' %}#digital-assurance">CRM & ERP Testing</a></li>
                    <li><a class="dropdown-item" href="{% url 'posts:quality' %}#digital-assurance">ServiceNow Automation</a></li>
                </ul>
            </li>
            </ul>
        </div>

        </li>
        <li><a href="{% url 'posts:about-us' %}" class="nav-link">About Us</a></li>
        <li><a href="{% url 'posts:insights' %}" class="nav-link">Insights</a></li>
        <li><a href="{% url 'posts:contact-us' %}" class="nav-link">Contact Us</a></li>
        <li><a href="{% url 'posts:career' %}" class="nav-link">Career</a></li>
      </ul>
    </div>
  </div>
</header>
