{% extends "base.html" %}

{% load static %}

{% block title %}
  BINMILE | Insights
{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

{% endblock styles %}

{% block content %}

  {% include "header.html" with fixed=0 %}

  <main>
    <div class="container">
      <div id="insights">
        <nav class="navbar navbar-expand-lg">
          <ul class="navbar-nav tab">
            <li class="nav-item">
              <a id="defaultOpen" onclick="openArticles(event, 'Articles')" href="#" class="nav-link tablinks">
                All&nbsp; Articles
              </a>
            </li>
            {% for category in categories %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle tablinks" href="#!" id="cat_{{ category.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ category.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="cat_{{ category.id }}">
                  <button class="dropdown-item" onclick="openArticles(event, 'category_bg_{{ category.id }}')">Blogs</button>
                  <button class="dropdown-item" onclick="openArticles(event, 'category_cs_{{ category.id }}')">Case Studies</button>
                </div>
              </li>
            {% endfor %}
            <li>
              <form action=".">
                <input name="q" type="text" class="top-search" placeholder="Search" />
              </form>
            </li>
          </ul>
        </nav>
      </div>

      <!-- ALL ARTICLES -->
      <div id="Articles" class="tabcontent active">
        <div class="row article-row" {% if not request.GET.q %}style="margin-top: 3em"{% endif %}>
          {% if request.GET.q %}
            <div class="col-md-12 my-3">
              <h4>
                Over {{ object_list|length }} result{{ object_list|length|pluralize }} found for <span class="text-info">"{{ request.GET.q }}"</span>
              </h4>
            </div>
          {% endif %}
        {% for post in object_list %}
          <div class="col-md-4" style="margin-bottom: 3em">
            <div class="card">
              <img src="{% if post.thumbnail_img %}{{ post.thumbnail_img.url }}{% endif %}" class="card-img-top" />
              <div class="card-body">
                <div class="pre-article">
                  <span href="#" class="category-button">
                    {{ post.category.name }}
                  </span>
                  <span class="read-time">
                    {% if post.read_minutes %}
                      {{ post.read_minutes }} mins read
                    {% endif %}
                  </span>
                </div>
                <h5 class="card-title">
                  {{ post.title }}
                </h5>
                <p style="letter-spacing: 0.24px;color: #212121;">
                  {{ post.highlight }}
                </p>
                <div class="post-article">
                  <button class="read-more">
                    <a href="{{ post.get_absolute_url }}" class="article-link"
                      >Read More</a>
                  </button>
                  <!-- <span class="views">5.4k Views</span> -->
                </div>
                <div class="blog-info">
                  <span class="author">
                    {% if post.author %}
                      {{ post.author }}
                    {% endif %}
                  </span>
                  <span class="blog-date">{{ post.timestamp|date:'j M Y' }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <div style="width: 100%;text-align:center;margin:2em 0">
          <button class="load-more-btn">Load More</button>
        </div>
      </div>

      {% for category in categories %}
        <div id="category_bg_{{ category.id }}" class="tabcontent">
          <div class="row article-row" style="margin-top: 3em">
            {% for post in object_list %}
              {% if post.category == category and post.purpose == 'BG' %}
                <div class="col-md-4" style="margin-bottom: 3em">
                  <div class="card">
                    <img src="{% if post.thumbnail_img %}{{ post.thumbnail_img.url }}{% endif %}" class="card-img-top" />
                    <div class="card-body">
                      <div class="pre-article">
                        <span class="category-button">{{ post.category.name }}</span>
                        <span class="read-time">
                          {% if post.read_minutes %}
                            {{ post.read_minutes }} mins read
                          {% endif %}
                        </span>
                      </div>
                      <h5 class="card-title">
                        {{ post.title }}
                      </h5>
                      <p style="letter-spacing: 0.24px;color: #212121;">
                        {{ post.highlight }}
                      </p>
                      <div class="post-article">
                        <button class="read-more">
                          <a href="{{ post.get_absolute_url }}" class="article-link"
                            >Read More</a
                          >
                        </button>
                        <!-- <span class="views">5.4k Views</span> -->
                      </div>
                      <div class="blog-info">
                        <span class="author">
                          {% if post.author %}
                            {{ post.author }}
                          {% endif %}
                        </span>
                        <span class="blog-date">{{ post.timestamp|date:'j M Y' }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div style="width: 100%;text-align:center;margin:2em 0">
            <button class="load-more-btn">Load More</button>
          </div>
        </div>
        <div id="category_cs_{{ category.id }}" class="tabcontent">
          <div class="row article-row" style="margin-top: 3em">
            {% for post in object_list %}
              {% if post.category == category and post.purpose == 'CS' %}
                <div class="col-md-4" style="margin-bottom: 3em">
                  <div class="card">
                    <img src="{% if post.thumbnail_img %}{{ post.thumbnail_img.url }}{% endif %}" class="card-img-top" />
                    <div class="card-body">
                      <div class="pre-article">
                        <span href="#" class="category-button">{{ post.category.name }}</span>
                        <span class="read-time">
                          {% if post.read_minutes %}
                            {{ post.read_minutes }} mins read
                          {% endif %}
                        </span>
                      </div>
                      <h5 class="card-title">
                        {{ post.title }}
                      </h5>
                      <p style="letter-spacing: 0.24px;color: #212121;">
                        {{ post.highlight }}
                      </p>
                      <div class="post-article">
                        <button class="read-more">
                          <a href="{{ post.get_absolute_url }}" class="article-link"
                            >Read More</a
                          >
                        </button>
                        <!-- <span class="views">5.4k Views</span> -->
                      </div>
                      <div class="blog-info">
                        <span class="author">
                          {% if post.author %}
                            {{ post.author }}
                          {% endif %}
                        </span>
                        <span class="blog-date">{{ post.timestamp|date:'j M Y' }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div style="width: 100%;text-align:center;margin:2em 0">
            <button class="load-more-btn">Load More</button>
          </div>
        </div>
      {% endfor %}

      <section style="display:flex;justify-content: space-between;">
        <div class="row">
          <aside class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
            <img src="{% static 'assets/images/arrow-image.png' %}" class="arrow-image">
          </aside>
          <aside class="col-md-6 col-sm-12 col-xs-12">
            <h4 style="font-weight: bold; margin: 1.5em auto">
              Join the list of businesses whom we helped transform
            </h4>
            <p>
              We make it easier for you to focus on building great products
              while we work on simplifying your technology. Become one of us
              by joining thousands of our happy users and simplify the online
              experience for your customers.
            </p>
            <p>
              Focus on your business while we handle the complexities of
              technology for you.
            </p>
            <button class="get-in-touch">Get in touch</button>
          </aside>
        </div>
      </section>
    </div>
  </main>

  {% include "footer.html" %}

{% endblock content %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
{{ block.super }}

<script>
  function openArticles(evt, category) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    const dropdownLink = $(`#${category}`)
    const parentTablink = $(evt.target)
    dropdownLink.css("display", "block");
    if (parentTablink.hasClass("tablinks")) {
      parentTablink.addClass("active");
    }
    else {
      parentTablink.parents(".nav-item").find(".tablinks").addClass("active")
      console.log(parentTablink.closest(".tablinks"))
    }
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script>

{% endblock scripts %}
