{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ServiceNow</title>
  <link rel="shortcut icon" href="{% static 'assets/images/faviconlogo.png' %}" type="image/x-icon" >

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/service.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/crm.css' %}">

  <script src="https://kit.fontawesome.com/16370dbf02.js" crossorigin="anonymous"></script>



</head>

<body>
  {% include "header.html" %}

  <div class="hero">
    <div class="hero-left">
      <div class="hero-text">
        <h1>ServiceNow</h1>
        <h3 class="hero-h3">For all business IT Needs. A step closer towards your digital transformation.</h3>
      </div>
      <button class="get-started"><a href="{% url 'posts:contact-us' %}" class="contact-link">Let's Get Started</a></button>
    </div>
    <div class="hero-right service-right"
>
      <img src="{% static 'assets/images/team/pillar-1.png' %}" alt="Pillar Image" class="pillar-img" id="service-pillar-img">
    </div>
  </div>
  <div class="container desktop-view">
    <div class="row">
      <div class="col-md-3 side-nav">
        <ul class="nav nav-tabs nav-pillar pillar-height">
          <li class="nav-item"><a data-toggle="tab" href="#menu1">IT Operations Management</a></li>
          <li class="nav-item"><a data-toggle="tab" href="#menu2">IT Business Management</a></li>
          <li class="nav-item"><a data-toggle="tab" href="#menu3">Governance Risk and Compliance</a></li>
          <li class="nav-item"><a data-toggle="tab" href="#menu4">Integration Implementation Services</a></li>
          <li class="nav-item"><a data-toggle="tab" href="#menu5">Service Portal</a></li>
        </ul>
      </div>
      <div class="col-md-9 tab-content for-height">
        {% for object in object_list %}
          <div id="menu{{ forloop.counter }}" class="container tab-pane {% if object.title == 'Service Portal' %}active{% endif %}">
            <h1 class="article-heading">{{ object.title }}</h1>
            <p>
              {{ object.content }}

              {% if object.title == 'Service Portal' %}
                <h4><b>Our methodology</b></h4>

                Your Service Portals are created keeping design thinking principles in mind. To
                create an effective plan that helps run your systems effectively, we run workshops with you to understand
                your needs. We then bring your requirements to life, in a tailor made service portal.
                <ul class="icon-list">
                  <li class="service">
                    <div class="service__img for-rotate-image">
                     <img src="{% static 'assets/images/1.png' %}" alt="" class="service__img service__img-1">
                    </div>
                    <div>
                      <h5>Empathise</h5>
                      <p>Putting ourselves in your shoes, helps us see it from your point of view</p>
                    </div>

                  </li>
                  <li class="service">
                    <div>
                      <h5>Define</h5>
                      <p>Create an aim, that encompasses your needs , and our deep insights</p>
                    </div>

                    <div class="service__img">
                      <img src="{% static 'assets/images/2.png' %}" alt="" class="service__img service__img-2">
                     </div>
                  </li>
                  <li class="service">
                    <div class="service__img for-rotate-image">
                      <img src="{% static 'assets/images/3.png' %}" alt="" class="service__img service__img-3">
                     </div>
                     <div>
                      <h5>Ideate</h5>
                      <p class="for-left">Formulate a solution with an eye on innovation</p>
                     </div>

                  </li>
                  <li class="service">
                    <div>
                      <h5>Prototype</h5>
                      <p>An outcome that not only solves your needs, but goes much beyond</p>
                    </div>
                    <div class="service__img">
                      <img src="{% static 'assets/images/4.png' %}" alt="" class="service__img service__img-4">
                     </div>

                  </li>

                  <li class="service">
                    <div class="service__img for-rotate-image">
                      <img src="{% static 'assets/images/5.png' %}" alt="" class="service__img service__img-5">
                     </div>
                     <div>
                      <h5>Test</h5>
                      <p>Make sure our solution, meets our stringent standards and is fit for rollout</p>
                     </div>

                  </li>
                </ul>
              {% endif %}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>





<!-- for phn-view -->

   <!--Accordion wrapper-->
<div class="accordion md-accordion phn-view" id="accordionEx" role="tablist" aria-multiselectable="true">

  {% for object in object_list %}
    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
        <a class="collapsed panel-link" data-toggle="collapse" data-parent="#accordionEx" href="#collapse{{ forloop.counter }}"
          aria-expanded="{% if forloop.counter == 1 %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
          <h5 class="mb-0 for-center">
            {{ object.title }}<i class="fas fa-angle-down rotate-icon icon-down small-margin"></i>
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.counter == 1 %}show{% endif %}" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionEx">
        <div class="card-body">
          {% if object.title == 'Service Portal' %}
            <h1 class="article-heading">Service Portal</h1>
          {% endif %}
          <p>
              {{ object.content }}

            {% if object.title == 'Service Portal' %}
              <h4><b>Our methodology</b></h4>

              Your Service Portals are created keeping design thinking principles in mind. To
              create an effective plan that helps run your systems effectively, we run workshops with you to understand
              your needs. We then bring your requirements to life, in a tailor made service portal.
              <ul class="icon-list">
                <li class="service">
                  <div class="service__img">
                   <img src="{% static 'assets/images/1.png' %}" alt="" class="service__img service__img-1">
                  </div>
                  <div>
                    <h5>Empathise</h5>
                    <p>Putting ourselves in your shoes, helps us see it from your point of view</p>
                  </div>

                </li>
                <li class="service">
                  <div>
                    <h5>Define</h5>
                    <p>Create an aim, that encompasses your needs , and our deep insights</p>
                  </div>

                  <div class="service__img">
                    <img src="{% static 'assets/images/2.png' %}" alt="" class="service__img service__img-2">
                   </div>
                </li>
                <li class="service">
                  <div class="service__img">
                    <img src="{% static 'assets/images/3.png' %}" alt="" class="service__img service__img-3">
                   </div>
                   <div>
                    <h5>Ideate</h5>
                    <p>Formulate a solution with an eye on innovation</p>
                   </div>

                </li>
                <li class="service">
                  <div>
                    <h5>Prototype</h5>
                    <p>An outcome that not only solves your needs, but goes much beyond</p>
                  </div>
                  <div class="service__img">
                    <img src="{% static 'assets/images/4.png' %}" alt="" class="service__img service__img-4">
                   </div>

                </li>

                <li class="service">
                  <div class="service__img">
                    <img src="{% static 'assets/images/5.png' %}" alt="" class="service__img service__img-5">
                   </div>
                   <div>
                    <h5>Test</h5>
                    <p>Make sure our solution, meets our stringent standards and is fit for rollout</p>
                   </div>

                </li>
              </ul>
            {% endif %}
          </p>
        </div>
      </div>

    </div>
    <!-- Accordion card -->
  {% endfor %}

</div>
<!-- Accordion wrapper -->


<!-- for phn-view end -->


<section class="arrow-section">
  <img src="{% static 'assets/images/arrow-image.png' %}" class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
  <aside class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <h4 style="font-weight: bold; margin: 1.5em auto">Join the list of businesses whom we helped transform</h4>
    <p>
      We make it easier for you to focus on building great products while we work on simplifying your technology.
      Become one of us by joining thousands of our happy users and simplify the online experience for your
      customers.
    </p>
    <p>
      Focus on your business while we handle the complexities of technology for you.
    </p>
    <button class="get-in-touch">

      <a href="{% url 'posts:contact-us' %}" class="contact-link">Get in touch</a></button>
  </aside>
</section>

  <div class="container">


    <h2 style="font-weight: bold;text-align:center;" class="recent">Our Deliverables</h2>
    <div class="big-line"></div>

  <!-- Work slider starts -->
  <div class="container work-slider">
    <div class="owl-three owl-theme owl-carousel owl-loaded owl-theme">
      <div class="owl-stage-outer ">
        <div class="owl-stage">
          <div class="owl-item">

            <div class="work-card work-card-1">
              <p>
                Leading British Retailer
              </p>

            </div>
            <p class="client-name">ServiceNow Agent Workspace, ServiceNow Implementation</p>
          </div>
          <div class="owl-item">
            <div class="work-card work-card-2">
              <p>
                Technology Solutions Provider
              </p>

            </div>
            <p class="client-name">Dynamics 365 Implementation and Customizations</p>
            <!-- <p class="client-company">PTTEP . WEB</p> -->
          </div>
          <div class="owl-item">
            <div class="work-card work-card-3">
              <p>
                Prominent Construction Business House
              </p>

            </div>
            <p class="client-name">Power BI Implementation and Customizations</p>
            <!-- <p class="client-company">PTTEP . WEB</p> -->
          </div>
        </div>
      </div>
      <div class="owl-nav">
        <!-- <div class="owl-prev" id="nav-prev"><img src="{% static 'assets/images/prev.svg' %}"></div>
        <div class="owl-next" id="nav-next"><img src="{% static 'assets/images/prev.svg' %}" style="transform: rotate(180deg);">
        </div> -->
      </div>
    </div>
  </div>
  <!-- Work slider ends -->
    </main>
  </div>
  <!-- footer starts -->
  {% include "footer.html" %}
  <!-- footer ends -->

  <!-- <div class="float-contact">
    <a href="{% url 'posts:contact-us' %}">
      <img src="{% static 'assets/images/hero_images/support.png' %}" alt="" class="support-image">
    </a>
  </div> -->

</body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.js"></script> -->

<script src="//code.tidio.co/ntbvrxc2bygx9vrnptufdvakjunxcnsw.js" async></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<script src="{% static 'assets/js/owl.carousel.js' %}"></script>

<script>
  $('.owl-three').owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    center: true,
    autoplay: true,
    autoPlaySpeed: 3000,
    autoPlayTimeout: 3000,
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 2
      },
      1000: {
        items: 3
      }
    }
  });

</script>

<script>
   $(document).ready(function(){
  $(window).scroll(function(){
  	var scroll = $(window).scrollTop();
	  if (scroll > 700) {
	    $("#navbar").css("background" , "#062772"),
      $("#navbar").css("height" , "8vh" ),
      $(".dropdown").css("transform", "translateY(-2px)"),
      $(".navbar-toggler").css("top", "-1rem"),
      $("#navbarSupportedContent").css("top", "-1.5rem");
	  }

	  else{
      $("#navbar").css("background" , "transparent");
	  }
  })
});

/** CLOSE MAIN NAVIGATION WHEN CLICKING OUTSIDE THE MAIN NAVIGATION AREA**/
$(document).ready(function () {
     $(document).click(function (event) {
         var clickover = $(event.target);
         var _opened = $(".navbar-collapse").hasClass("show");
         if (_opened === true && !clickover.hasClass("navbar-toggler")) {
             $(".navbar-toggler").click();
         }
     });
 });

 $('.dropdown').on('click', function(event){
    // The event won't be propagated up to the document NODE and
    // therefore delegated events won't be fired
    event.stopPropagation();
});
</script>

</html>
